// COLORS

$color-primary: #888da5;
$color-secondary: #0b1d73;
$color-background: rgb(255, 255, 255);

// FONTS
$font-color: rgb(50, 50, 50);
$font-color-inverse: rgb(240, 240, 240);
$font-family: Roboto, sans-serif;
$icon-size: 2em;

// LINKS

// LAYOUT
$component-shadow: 0 0 5px rgb(153, 153, 153);
$header-height: 4em;
$sidebar-width-open: 20em;
$sidebar-width-closed: 4em;
