.page {
  flex: 1;
  padding: 2em;
  overflow: hidden;
  display: flex;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: $header-height;
  padding-left: #{$sidebar-width-closed};
}

.compare-page {
}

.charts-page {
  flex-direction: column;
}

.best-match-page {
  flex-direction: column;
  align-items: center;
}
