@import url(~sanitize.css);

@import "./_config.scss";
@import "./layout/_root.scss", "./layout/_header.scss", "./layout/_page.scss";
@import "./components/_app.scss", "./components/_sidebar.scss", "./components/_animated-button.scss",
  "./components/_chain-selection.scss", "./components/_table-compare.scss";
